html, body {
    background: black;
    font-family: sans-serif;
}

.space {
    background: url("https://stepik.org/media/attachments/lesson/452681/space.png");
    height: 100vh;
}

.planet-area {
    position: relative;
    width: 30vw;
    height: 100vh;
}

.planet {
    position: absolute;
    max-width: 70vw;
    max-height: 70vh;
    bottom: 0;
    z-index: 10;
}

.rocket {
    position: absolute;
    transform: rotate(30deg);
    bottom: 35vmin;
    left: 35vmin;
    z-index: 5;
    max-width: 30vw;
    max-height: 30vh;
}

.control-panel {
    background: yellow linear-gradient(45deg, black 25%, transparent 25%, transparent 50%, black 50%, black 75%, transparent 75%);
    background-size: 10vmin 10vmin;
    position: absolute;
    top: 40vmin;
    right: 26vmin;
    text-align: center;
    padding: 3vmin;
}

.control-panel__inner>* {
    margin-top: 1vmin;
    margin-bottom: 1vmin;
}

.control-panel__inner {
    background: #363636;
    width: 40vmin;
}

.ok-button {
    background: yellow;
    border: none;
    border-radius: 20px;
}

.password-input {
    border: yellow 1px solid;
    border-radius: 10px;
    background: none;
    color: white;
    margin-top: 5vmin;
}

.launch-button {
    background: red;
    border: 1px solid white;
    border-radius: 100px;
    color: white;
    height: 5vmin;
    width: 10vmin;
    margin-bottom: 5vmin;
}

.launch-button:disabled {
    background: gray;
}

.check-buttons {
    display: flex;
    justify-content: space-around;
}

.levers {
    display: flex;
    justify-content: space-between;
    width: 40vmin;
}

.levers label {
    display: inline-block;
    padding: 0;
    width: 8vmin;
    height: 20vmin;
}

.levers input {
    transform: rotate(-90deg);
    transform-origin: 10vmin 10vmin;
    height: 8vmin;
    width: 20vmin;
    margin: 0;
}
